__pycache__/
bin/
boto3/
boto3-1.20.31.dist-info/
dateutil/
botocore/
botocore-1.23.31.dist-info/
jmespath/
jmespath-0.10.0.dist-info/
myfolder/
python_dateutil-2.8.2.dist-info/
s3transfer/
s3transfer-0.5.0.dist-info/
six-1.16.0.dist-info/
urllib3/
urllib3-1.26.8.dist-info/
static/
.env
.DS_STORE
tmp.png
